@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
body {
    margin: 0;
    /* padding: 1rem; */
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(29, 35, 51);
    color: #6EE7B7;
    font-family: 'Exo 2', sans-serif;
  }
  
  main {
    /* margin-top: 6rem; */
    text-align: center;
    height: 100%;
   
  }
  
  p {
    margin-top: 4rem;
    padding: 2rem;
    text-align: left;
    font-size: x-large;
    text-align: center;
  }
  
  button {
    cursor: pointer;
    padding: 0.4rem;
    margin-left: 0.3rem;
    border-radius: 0.3rem;
    border: 3px solid #6EE7B7;
  }

  nav {
    width: 100%; /* width of container */
    height: 6rem; /* height of container */
    overflow: hidden;
    /* position: fixed; */
    top: 0px;
    left: 0px;
    right: 0px;
}


input {
  border : 2px solid #6EE7B7;
  padding: 0.3rem;
  border-radius: 0.4rem;
  width:8rem;
  margin-top: 1rem;
}

#loading-bar{
  display : none;
  justify-content: center;
  align-items: center;

}

#how-btn, #how-div {
  display : none;
  justify-content: center;
  align-items: center;
  margin-top:0px;
  margin:auto;
}

#how-div {
  margin-top: 1.5rem;
  font-size: larger;
}

#how-btn {
  background-color: rgb(29, 35, 51);
  color: #6EE7B7;
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor:pointer;
  margin-top: 1rem;
}



.tooltip .tooltiptext {
  visibility: hidden;
  width:10rem;
  background-color: rgb(29, 35, 51);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 7px;
  border: 1px solid #6EE7B7;
  
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 140%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

span {
  font-size: small;
  font-weight: lighter;
  
}